@font-face {
  font-family: "AnonymicePowerline";
  src: url("../fonts/AnonymicePowerline.woff") format("woff"),
    url("../fonts/AnonymicePowerline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}