.header{
    background-color: transparent;
    position: absolute;
    height: 80px;
    padding: 0 20px;
    top: 0;
    width: calc(100% - 40px);
    display: flex;
    font-family: 'AnonymicePowerline';
    &__title{
        display: flex;
        align-items: center;
        font-size: 20px;
        letter-spacing: 2px;
    }
    &__right{
        position: absolute;
        right: 20px;
        height: 100%;
        display: flex;
        button{
            font-family: 'AnonymicePowerline';
            text-transform: lowercase;
            font-size: 15px;
            letter-spacing: 2px;
            margin-left: 10px;
            &:hover{
                background-color: inherit;
            }
        }
    }
}